/* Universal selector style - applies to all aspects of the page
unless overridden by a more specific style. */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Applies to all elements of the content of the page unless
overridden by more specific styles. */
body {
    background-color: #d9dcd6;
}

/* Applies by default to all parts of the header element 
(not to be confused with the 'head' element). */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Applies to the h1 element within the header element.
Forces very large font for what serves as the banner of
the page. */
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Applies to the text associated with the 'seo' class within
the hi element in the header element.  This causes the letters
'seo' within the larger word 'Horiseon' to appear with a slightly
different color than the remainder of the word. */
header h1 .seo {
    color: #d9dcd6;
}

/* Applies to the 'nav' element within the 'header' element. 
Specifies the appearance of the navigation choices and,
specifically, aligns the navigational choices on the right side
of the header. */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Applies to the ul element (unordered list) with the nav element
within the header element - the default style for the navigation
selection list. */
header nav ul {
    list-style-type: none;
}

/* Applies to the li elements within the ul element within
the nav element within the header element - the style
applicable to each choice within navigational choices. */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Applies to all a/anchor elements. */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Applies to all p/paragraph elements. */
p {
    font-size: 16px;
}

/* Applies only to img elements in-scope for the hero class
(the main banner images). */
.hero img {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

/* float-left and float-right are used alternately in the 
presentation of text and graphics for each of the sections in
the main content, thus breaking up the visual monotony
in that column of the page. */

/* Causes the item to be floated on the left side of the container. */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Causes the item to be floated on the right side of the container. */
.float-right {
    float: right;
    margin-left: 25px;
}

/* Style class used by the div element that contains the main sections
of the page. */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Style class used by EACH of the main sections of the page. */
.content-section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Applies to img elements within scope of the content-section class. */
.content-section img {
    max-height: 200px;
}

/* Applies to h2 elements within scope of the content-section class. */
.content-section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Style class used by the div element that includes the right column of the
page that enumerates benefits. */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Style class used by EACH section element that is in-scope of the
benefits div element of the page. */
.benefit-sect {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Applies to h3 elements within class benefit. */
.benefit-sect h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Applies to img elements within class benefit. */
.benefit-sect img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Applies to the footer element. */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Applies to the h2 element within the footer element. */
footer h2 {
    font-size: 20px;
}
